!/db/schema.rb
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp
api/tests/statements_html/*.html
api/tests/statements_html/*.htm
config/database.yml
node_modules/
.env
.env.test
*.dump
*.dump.*
.byebug_history
