<table border="1" cellpadding="5">
  <tbody>
    <tr>
      <th> Дата <br> операции </th>
      <th> Дата <br> проводки </th>
      <th> Номер <br> карты </th>
      <th> Тип <br> операции </th><th> Место <br> проведения </th>
      <th> Сумма в валюте <br> транзакции </th>
      <th> Сумма и комиссия в валюте счета на<br>дату выполнения операции </th>
      <th> Остаток на дату<br>выполнения операции </th>
      <th> Сумма и комиссия в валюте счета <br> на дату отражения по счету</th>
      <th> Статус </th>
    </tr>
    <tr>
      <td><span class="wmi-callto">2019-03-15 20</span>:49:23.0</td>
      <td></td>
      <td>*9999</td>
      <td>Оплата</td>
      <td>SHOP N 23 "ZORINA"&gt;MINSK              BY</td>
      <td>- 2,6 BYN</td>
      <td>- 2,6/0 BYN</td>
      <td>9999,99 BYN</td>
      <td></td>
      <td>ЗАБЛОКИРОВАНО</td>
    </tr>
    <tr>
      <td><span class="wmi-callto">2019-03-15 00</span>:00:00.0</td>
      <td><span class="wmi-callto">2019-03-15 11</span>:54:17.0</td>
      <td>*9999</td>
      <td>ПОПОЛНЕНИЕ</td>
      <td>ЗАЧИСЛЕНИЕ НА СЧЕТ                    </td>
      <td> </td>
      <td>9999,99/0 </td>
      <td> </td>
      <td>9999,99/0 </td>
      <td>ПРОВЕДЕНО</td>
    </tr>
    ...
    ...
    ...
  </tbody>
</table>
